body,#root {
  background: url(./assets/images/background.jpg) no-repeat center center fixed;
  background-size: cover;
  backdrop-filter: blur(5px);

  h1,h2 {
    color: #ff7f50;
    text-align: center;
  }
  h2 {
    color: #fff;
  }

  a {
    text-decoration: none;
  }
}

.wrapper {
  width: 90%;
  margin: auto;
}

header {
  background: steelblue;
  .wrapper {
    display: flex;
    justify-content: space-between;
  }
  h2 {
    text-align: left;
    padding: 10px 20px;
    color: #f5f5dc;
  }
  h3 {
    color: #fff;
  }
  .cart-section {
    .cart-quantity {
      background: black;
      padding: 4px 11px;
      border-radius: 100%;
    }
  }
}

.all-products {
  .wrapper {
    @media only screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      column-gap: 20px;
    }
    @media only screen and (max-width: 1024px) {
      justify-content: center;
    }
  }
  text-align: center;
  .product-container {
    position: relative;
    margin: 20px 0;
    border-radius: 10px;
    text-decoration: none;
    z-index: 1;

    h2 {
      color: #7fffd4;
      font-size: 18px;
    }
    padding: 20px;
    background-color: #000;
    color: #fff;
    text-align: center;
    .prod-image {
      img {
        width: 200px;
        height: 200px;
      }
    }
    p {
      font-size: 20px;
    }
    .prod-description {
      color: #00ffff;
      word-wrap: break-word;
    }
    span {
      color: #808080;
      @media only screen and (max-width: 767px) {
        color: #fff;
      }
    }
    @media only screen and (min-width: 768px) {
      flex-basis: 20%;
    }
    button.add-btn,button.remove-btn,button#buy-btn {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 2;
      @media only screen and (max-width: 767px) {
        position: relative;
        display: block;
        margin: 20px auto;
      }
    }
    button#buy-btn {
      width: 45%;
      background-color: #008000;
      left: 0;
    }
    
    .select-qty {
      .counter {
        height: 18px;
        display: flex;
      justify-content: center;
      column-gap: 10px;
      align-items: center;
      p {
        cursor: pointer;
      }
      }
      input {
        width: 50px;
      }
    }
    @media only screen and (max-width: 767px) {
      background-color: transparent;
    }
    @media only screen and (max-width: 1024px) {
      flex-basis: 40%;
    }
  }
  
}

.product-details {
  .wrapper {
    text-align: center;
    color: #b0c4de;
    img {
      width: 225px;
    }
  }
  .detail-info {
    display: flex;
    figure {
      flex-basis: 30%;
    }
    .product-content {
      flex-basis: 50%;
    }
    @media only screen and (max-width: 767px) {
      display: block;
    }
  }
}

/* button styling */
button {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:disabled,button.remove-btn {
  background-color: #c4042e;
  color: #fff;
}

button:disabled::before,button.remove-btn::before {
  background: linear-gradient(
    45deg,
     #ff0000,
    #ff0000
  );
}

button.add-btn:before {
  content: "";
  background: linear-gradient(
    45deg,
     #ff0000,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 6s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

